*
  {
    font-family: Gotham, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    --color-oscuro:#0054a4;
    --color-medio: #007dc3;
    --color-claro: #a4d7f4;
    --color-secundario: #e11b22;
    --color-secundario-claro: #e1abb2;
  }

.cabecera
 {
        background-color: var(--color-oscuro);
        color: var(--color-claro);
        display: block;
        padding: 2%;
        font-size: 150%;
        text-align: center;
        padding: 2%;
        text-shadow: 2px 2px var(--color-medio);
        text-transform: uppercase;
        height: 10%;
   }

.cuerpo
   {
      position: fixed;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;  		
      justify-content: center;
      align-content: strech;
      height: 70%;
      top: 300px;
      padding: 2.5px;
      text-align: center;
      color: var(--color-oscuro);
      background-color: white;
      text-decoration: none;
      border: 5px solid var(--color-oscuro);
      width: 100%;
   }  

   .columna
   {
     border-radius: 10px;
     padding: 1%;
     margin: 1%;
     width: 25%;
     height: 90%;
   } 

.campo
	{
        padding: 1%;
        margin: 1%;
        box-sizing: border-box;
        border-radius: 10px;
    }

.boton
    {
      width: 100px;
      background-color: var(--color-oscuro); 
      border: none;
      color: var(--color-claro);
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 2%;
      border-radius: 12px;
    }
    
.error
  {
    color: red;
  }