*
  {
    font-family: Gotham, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    --color-oscuro:#006064;
    --color-medio: #00bcd4;
    --color-claro: #e0f7fa;
    --color-secundario: #e11b22;
    --color-secundario-claro: #e1abb2;
  }

.cabecera
 {
        background-color: var(--color-oscuro);
        color: var(--color-claro);
        display: block;
        padding: 2%;
        font-size: 100%;
        text-align: center;
        padding: 2%;
        text-shadow: 2px 2px var(--color-medio);
        text-transform: uppercase;
        height: 10%;
   }

.nombre
 {
    margin-left: 2%;
    padding-left: 2%;
 }

.cuerpo
   {
      position: fixed;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;  		
      justify-content: center;
      align-content: strech;
      height: 60%;
      top: 37%;
      padding: 2.5px;
      text-align: center;
      color: var(--color-oscuro);
      background-color: white;
      text-decoration: none;
      border: 5px solid var(--color-oscuro);
      width: 100%;
   }  

.columna
   {
     padding: 1%;
     margin: 1%;
     width: 25%;
     height: 90%;
   } 

.cabecera-jugador
   {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  		
    justify-content: center;
    align-content: strech;
   }

.cabecera-jugador p
   {
    margin:1%;
   }

.central-img
  {
    height: 60%;
    width: 60%;
  }

.grande
  {
    font-size: 125%;
    text-transform: uppercase;
    font-weight: bold;
  }

.campo
	{
        padding: 1%;
        margin: 1%;
        box-sizing: border-box;
        border-radius: 10px;
    }

.boton
    {
      width: 100px;
      background-color: var(--color-oscuro); 
      border: none;
      color: var(--color-claro);
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 2%;
      border-radius: 12px;
    }
 
.btn-img
    {
      width: 12%;
      border: 1px solid;
      border-radius: 100px;
      padding: 2px 2px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      padding: 1%;
      margin: 1%;
    }

.error
  {
    color: red;
  }